{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-sm-5">
    <div class="card text-center">
      <div class="card-header">
        {% trans "You registered successful. We send code on your email and link, where you need enter it." %}
      </div>
      <div class="card-body">
        {% trans "*if you don't get code, try again latter" %}
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
</div>
{% endblock %}