{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit Advert" %}{% endblock %}
{% block head %}{{ form.media }}{% endblock head %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="col-sm-5">
    <div class="card text-center">
      <div class="card-header">
        {% trans "Edit Advert" %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">{% trans "Edit" %}</button>
        </form>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
  </div>
</div>
{% endblock %}